.c-f {
  color: #fff;
}
// 黑色的 confirm
.blackConfirm.el-message-box {
  background: #202020;
  border: none;
  .el-message-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .el-message-box__title {
      color: #fff;
      justify-content: end;
      font-size: 16px;
    }
    .el-message-box__headerbtn {
      position: unset;
    }
  }
  .el-message-box__content {
    margin-bottom: 20px;
    .el-message-box__message {
      color: #fff;
      p {
        &::before {
          content: "!";
          display: inline-block;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          background: #eaa327;
          color: #fff;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }
  .blackCancelBtn {
    background: #252525;
    border-color: #dcdfe6;
    color: #fff;
  }
}

// 文本居中的 confirm
.contentCenter {
  .el-message-box__content {
    display: flex;
    justify-content: center;
  }
}

// 表单上下布局
.reset-form-layout {
  .el-form-item {
    display: flex;
    flex-direction: column;
    & > label {
      text-align: left !important;
    }
    & > .el-form-item__content {
      margin-left: 0 !important;
    }
  }
}

